<div class="col-md-12">
  <div class="main row">
    <article class="col-md-12">
    <h2>Restaurantes</h2>
    </article>
    
  <article class="container col-md-4">
      <label>La casa de Toño</label>
      <br>
      <img src="images/toño.png" width="300" height="200">
  </article>
  <aside class="container col-md-4">
      <label>La casa de Toño</label>
      <br> 
      <img src="images/toño.png" width="300" height="200">
  </aside>
  <aside class="container col-md-4">
      <label>La casa de Toño</label>
      <br>
      <img src="images/toño.png" width="300" height="200">
  </aside>
  </div>
</div>