
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand container is-widescreen">
    <!-- navbar items, navbar burger... -->
    <a class="navbar-item">
          <img src="../../assets/images/icon.png" alt="iTourist" width="112" height="112">
    </a>
    <p class="title is-1"> iTourist</p>
  </div>
  <div class="navbar-menu">
    <!-- navbar start, navbar end -->
    <div class="navbar-end">
      <a class="navbar-item" routerLink="/login">Login</a>
      <a class="navbar-item" routerLink="/signup">SignUp</a>
    </div>
  </div>
</nav>
<div class="content">
  <section class="section">
    <div class="container mainBlock">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>


