<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>iTourist</title>
    <!--aqui se pueden agregar los links de css-->
  </head>
  <body>
    {{{body}}}
    <!--aqui se incrustan las vistas que vayamos definiendo,-->
  </body>
</html>
