  <!-- Log in -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

  <div class="container">
    <div class="frame">
      <div class="nav">
        <ul class="links">
          <li class="signin-active"><a class="btn">Iniciar sesión</a></li>
          <li class="signup-inactive"><a class="btn">Registrarse</a></li>
        </ul>
      </div>
      <div ng-app ng-init="checked = false">
        <form id="iniciar" class="form-signin" action="" method="post" name="form" >
          <label for="username">Email</label>
          <input class="form-styling" type="text" name="username" placeholder="Email" [(ngModel)]="postData.email"/>
          <label for="password">Contraseña</label>
          <input class="form-styling" type="password" name="password" placeholder="Contraseña" [(ngModel)]="postData.password"/>
          <div class="btn-animate">
            <a class="btn-signin" (click)="loginAction()">Iniciar Sesión</a>
          </div>
        </form>

        <form class="form-signup" action="" method="post" name="form">
            <label for="fullname">Nombre</label>
            <input class="form-styling" type="text" name="nombre" placeholder="Nombre" [(ngModel)]="postData.nombre"/>
            <label for="fullname">Apellido</label>
            <input class="form-styling" type="text" name="apellidp" placeholder="Apellido" [(ngModel)]="postData.apellidp"/>
            <label for="fullname">Idioma</label>
            <input class="form-styling" type="text" name="fullname" placeholder="Nombre" [(ngModel)]="postData.idioma"/>
            <label for="email">Email</label>
            <input class="form-styling" type="text" id="email" name="email" placeholder="ejemplo@gmail.com"
              onkeyup="validarEmail(this)" [(ngModel)]="postData.email" />
            <label id='resultado'></label>
  
            <label for="password">Contraseña</label>
            <input class="form-styling" id="password" type="password" name="password" onkeyup="validarContrasena(this)"
              size="20" placeholder="Contraseña"/>
            <label for="confirmpassword">Confirmar contraseña</label>
            <input class="form-styling" id="password2" type="password" name="password2" onkeyup="validarContrasena(this)"
              size="20" placeholder="Contraseña" [(ngModel)]="postData.password"/>
            <label id="resultPass"></label>
            <a ng-click="checked = !checked" class="button is-primary" (click)="registerAction()">Registrarme</a>
  
  
          </form>
  
        
      </div>

      

  
    </div>
  </div>

