<div class="container">
    <div class="row">
      <div class="profile-image col-4">
        <img src="../../../assets/images/usuarioP.png" alt="">
      </div>
      <div class="profile-content col-8">
        <h4>
          <b>Nombre: {{nombre_local}}</b>
        </h4>
        <br>
        <p></p>
        <h4>
          <b>Apellido: {{apellido_local}}</b>
        </h4>
        <br>
        <p></p>
        <h4>
          <b>Correo: {{correo_local}}</b>
        </h4>
        <br>
       <p></p>
       <h4>
         <b>Idioma preferente del usuario: {{idioma_local}}</b>
       </h4>
       <br>
        <p></p>
      </div>
    </div>
  </div>
