<div class="container">
    <div class="row">
      <div class="profile-image col-4">
        <img src="../../../assets/images/usuario.jpg" alt="">
      </div>
      <div class="profile-content col-8">
        <h4>
          Nombre:
        </h4>
        <p>{{nombre}}</p>
        <h4>
            Apellido:
        </h4>
        <p>{{apellido}}</p>
        <h4>
          correo:
        </h4>
       <p> {{correo}}</p>
       <h4>
         Idioma del usuario
       </h4>
        <p>{{idioma}}</p>
      </div>
    </div>
  </div>
